@use '../abstracts' as *;

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
	line-height: 1.5;
	font-family: var(--font-extra-light);
  padding: 0;
  background: linear-gradient(
90deg
, rgba(41,50,60,1) 0%, rgba(72,85,99,1) 100%);
background: var(--theme-bg);
  color: var(--theme-color);
}  

a{
  color: $primary;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    color: darken($primary, 15%);
  }    
}

main{
  flex: 1;
}

  
  